.info-label {
    color:white;
    font-family: "Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
    width: 100%;
    border:1px solid red;
    
}
.info-key {
    color:orange;
    font-family: "Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
}
.nothing{
    background-color: blue;
    margin: 40px
}
.different {
    width: 500px;
    height: 500px;
    background-color: aqua;
    
}
.my-div-2{
    background-image: url("ny1.jpeg");
}
.my-div-bus{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
}
.bus-container{
    margin:auto auto;
    z-index: 3;
    position: absolute;
    background-color: var(--darak-gray);
    width: 1vw;
    height: 1vh;
    border-radius: 10px;
    
}